@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cormorant Garamond", serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
